
:root {
  --tertiary-fixed: #e1e2e4;
  --surface-bright: #f9f9f9;
  --tertiary-fixed-dim: #c5c6c8;
  --surface-container-highest: #e2e2e2;
  --on-primary: #ffffff;
  --surface-tint: #006c49;
  --secondary-fixed-dim: #95d3ba;
  --on-primary-fixed: #002113;
  --on-tertiary-container: #37393b;
  --on-secondary: #ffffff;
  --on-tertiary: #ffffff;
  --surface-container-low: #f3f3f4;
  --background: #f9f9f9;
  --on-tertiary-fixed-variant: #444749;
  --inverse-surface: #2f3131;
  --tertiary: #5c5f60;
  --on-surface: #1a1c1c;
  --surface: #f9f9f9;
  --outline-variant: #bbcabf;
  --secondary-container: #adedd3;
  --error: #ba1a1a;
  --on-surface-variant: #3c4a42;
  --on-primary-container: #00422b;
  --secondary: #2b6954;
  --surface-container-lowest: #ffffff;
  --on-secondary-container: #306d58;
  --secondary-fixed: #b0f0d6;
  --inverse-primary: #4edea3;
  --on-error-container: #93000a;
  --on-error: #ffffff;
  --tertiary-container: #a1a3a5;
  --on-secondary-fixed: #002117;
  --surface-container-high: #e8e8e8;
  --primary-fixed-dim: #4edea3;
  --on-secondary-fixed-variant: #0b513d;
  --primary-container: #10b981;
  --on-tertiary-fixed: #191c1e;
  --on-primary-fixed-variant: #005236;
  --surface-container: #eeeeee;
  --primary: #006c49;
  --surface-dim: #dadada;
  --outline: #6c7a71;
  --on-background: #1a1c1c;
  --inverse-on-surface: #f0f1f1;
  --surface-variant: #e2e2e2;
  --error-container: #ffdad6;
  --primary-fixed: #6ffbbe;
}
header{
    
    height: 50px;
}
.nav{
    display: flex;
    border-bottom: var(--surface-container-high) 2px solid;

    box-shadow: #002117;
    margin-top: 0;
}
.nav h1{
color:#10b981 ;
font-size: 25px;

}
.nav h1:hover{
    transition: all 0.2s ease-in-out;
    transform: translatey(-4px);
}
.nav-link{
display: flex;
align-items: center;
list-style: none;
gap: 50px;
margin-left: 300px;
place-items: center;
}
.nav-link :hover{
    color:#10b981 ;
    text-decoration: underline;
}
.nav-link a{
    text-decoration: none;
    color: var(--inverse-surface);
    font-size:medium;
}
.hero{
    display: flex;
    justify-content: space-between;
    gap: 250px;
 } 
.hero{
    background-color: var(--inverse-on-surface);
     border-bottom: 2px var(--inverse-on-surface);
   width: 100%;
    }
.left-side{
    padding-left: 40px;
    
    
}
 
 
.boltt{
    background-color: var(--secondary-container);
    width: 250px;
    border: 1px var(--secondary-fixed) solid;
    border-radius: 12px;
    padding: 3px;
    font-size: small;
}
.heade{
    margin-bottom: 30px;
}
.heade span{
color:#10b981 ;
}
.heade p{
font-family:'Times New Roman', Times, serif;
width: 350px;
margin-bottom: 30px;
}
.btns{
    display: flex;
    gap: 15px;
    margin-bottom: 80px;
}
.btn1{
background-color: var(--primary-container);
color: var(--on-primary);
border: 1px var(--primary-container) solid;
border-radius: 50px;
padding: 7px;
font-size:small;
}
.btn2{
background-color:var(--inverse-on-surface) ;
color:var(--primary) ;
border: 1px var(--primary) solid;
border-radius: 50px;
padding: 7px;
font-size:small;
}
.info{
    display: flex;
    gap:25px;
    font-size: small;
    
}
.infob{
    
    line-height: 20px;
    display: flex;
    flex-direction: column;
}
.bold{
     width: 80px;
    font-weight: 900;
    margin-bottom: 10px;
}
.infof{
    width: 120px;
    font-size: small;
    
}
.line{
 
border: 1px solid var(--tertiary-fixed-dim) ;
   height: 50px;
}
.image-container{
position: relative;
}
 .image-container img{
    
    border: 2px solid;
    border-radius: 30px;
    height: 420px;
    width: 350px;
    
    margin-right: 50px;
    
    animation: zoomOut 1s ease-out;
    
}


[data-icon]::before {
  font-family: 'Material Symbols Outlined';
  content: attr(data-icon); /* Reads the text inside data-icon="" */
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px; /* Spacing next to text */



}
.image-container img:hover{
     animation: glow 1.5s ease-in-out infinite;
    
}
.rela{
    position: absolute;
     bottom: 30px;
     left: 40px;
     background-color: rgba(197, 198, 200, 0.8);
     color: var(--on-background);
     font-weight: 900;
     height: 45px;
     width: 280px;
     font-size: small;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 15px;
    line-height: 5px;
    padding-left: 80px;
    padding-bottom: 20px;
    
     
}

.btn1,
.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 12px 24px;
    text-decoration: none; /* Removes underline */
    border-radius: 8px;
    cursor: pointer;
}

.btn1 {
    background-color: #10b981;
    color: white;
}

.btn2 {
    background-color: #e5e7eb;
    color: black;
}
.live {
    position: absolute;
    right: 50px;
    bottom: 375px;
    background-color:var(--on-primary-container) ;
    
    color: var(--background);
    font-size:9px;
    font-weight: 500;
    border: 1px solid var(--on-primary-container) ;
    border-radius: 15px;
    width: 90px;
    display: flex;
    align-items: center; /* Vertically aligns the dot and text */
    gap: 5px;
    letter-spacing: 1px;
    padding-left: 5px;
    font-family:'Times New Roman', Times, serif
    
    
}
.dot{
    width: 10px;
    height: 10px;
    background-color: var(--background);
    border-radius: 50%;
    
}
footer{
    height: 170px;
    margin-top: 60px;
    border-top: var(--background) 4px solid; ;
}
.foot{
    display: flex;
    justify-content: space-between;
    
}
.log{
    color:#10b981 ;
    font-size: larger;
    font-weight: 700;
    
}
.links{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-right: 150px;
    
}
.links :hover{
    color:#10b981 ;
}
.links a{
    text-decoration: none;
    color: var(--inverse-surface);
    font-size: small;

}
.logs{
    margin-top: 20px;
}